$breakpoints: (
  tablet: 768px,
  netbook: 1024px,
  notebook: 1240px,
  desktop: 1440px,
);

$padding-list:(
    null: 32px,
    tablet: 32px 64px,
    netbook: 32px 64px,
    notebook: 32px 96px,
    desktop: 32px 128px,
);

