*{
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    .App{
        overflow-x: hidden;
        min-width: 320px;
    }
}

@import './3-layout/layoutGlobal'