@import '../Styles/0-abstracts/vars';
@import "./3-layout/layoutGlobal";

* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  #root {
    overflow-x: hidden;
    min-width: 320px;
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    // background: rgba($color: $h-background, $alpha: 0.5);
    background: transparent;
    box-shadow: inset 0.5px -0.5px 5px rgba($color: #000000, $alpha: 0.2);
  }
  ::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 6px;
    width: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: adjust-hue($color: lightgrey, $degrees: 10);
  }
}
