@import "../0-abstracts/vars";
@import "../0-abstracts/mixins";
@import "../2-base/padding";
@import "../1-components/input";
@import "../1-components/textArea";

.contact {
  color: $c-background;
  $self: &;
  .title {
    h1 {
      color: $c-title;
    }
    h6 {
      color: $c-subtitle;
    }
    hr {
      border-color: $c-subtitle;
    }
  }
  &__form {
    width: 100%;
    .MuiOutlinedInput-input {
      border-color: red;
    }
    #{$self}__name-input {
      width: 100%;
    }
    #{$self}__email-input {
      width: 100%;
    }
    #{$self}__email-body {
      width: 100%;
    }
    #{$self}__email-body:focus,
    #{$self}__email-body:valid {
      border-color: $c-subtitle;
    }
  }
  &__button-box {
    @include display-flex;
    margin-top: 50px;
  }
}
