@import "../0-abstracts/vars";
@import "../0-abstracts/mixins";
@import "../../Assets/Animations/_animationBg2";

.footer {
  position: relative;
  background-color: $ft-background;
  $self: &;
  &__Bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    &--filtered-layer {
      background-color: rgba($color: $blue, $alpha: 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__grid-item {
    @include display-flex($direction: row);
    z-index: 2;
    .arrow-button {
      transform: rotate(180deg);
      margin: 25px 0;
    }
    .git-icon,
    .li-icon {
      width: 25px;
      height: 25px;
      margin: 8px;
      &:hover {
        transform: scale(1.2);
        transition: 0.3s;
      }
      path {
        fill: $f-icon;
      }
      @include netbook{
        width: 40px;
        height: 40px;
      }
    }
    #{$self}__copy-right {
      min-width: max-content;
      @include font(
        $color: $ft-text,
        $family: "montserrat",
        $transform: capitalize
      );
    }
  }
}
