@import "../0-abstracts/vars";
@import "../2-base/padding";

.freelance{
    background-color: $f-background;
    padding: 30px;
    .title{
        h1{
            color: $f-title;
        }
        h6{
            color: $f-subtitle;
        }
        hr{
            border-color: $f-subtitle;
        }
    }
    .button-box{
        @include display-flex;
        margin-top: 50px;
    }
}