@import "../0-abstracts/vars";
@import "../0-abstracts/mixins";
@import "../1-components/link";
@import "../2-base/padding";
@import "../../Assets/Animations/animationBg2";

.home {
  @include display-flex($width: 100%, $height: 100vh);
  &__Bg {
    @include display-flex($width: 100%, $height: 100%);
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    &__img {
      object-fit: cover;
      object-position: center center;
      width: 315%;
      max-width: 1440px;
      height: 100%;
      animation: opacityImg 1.5s ease 1 forwards;
      @include min-width(421px){
        width: 250%;
      }
      @include big-phone{
        width: 200%;
      }
      @include tablet{
        width:120%;
      }
      @include netbook{
        width: 105%;
      }
    }
    // &--filtered-layer {
    //   // background-color: rgba(0, 106, 255, 0.1);
    //   background-color: rgba(0, 106, 255, 0.7);
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    // }
  }
  .nav {
    @include display-flex($width: 60%, $direction: row, $justify: space-around);
    position: absolute;
    top: 20px;
    .menu-icon {
      color: $white;
    }
    &__menu-list {
      @include display-flex($direction: row, $justify: space-around);
    }
  }
  .header-content {
    @include display-flex;
    position: relative;
    bottom: 20px;
    @include min-width(421px){
      bottom: 75px;
    }
    &__title {
      @include font(
        $color: $white,
        $weight: 700,
        $family: "poppins",
        $transform: none
      );
      margin: 8px 0px;
      filter: drop-shadow(1px 1px 1px #000);
      display: inline-block;
      text-align: center;
      background-color: black;
      width: 100%;
      height: 120px;
      @include min-width(421px){
        height: 70px;
        padding: 6px 0;
      }
      @include big-phone {
        max-width: max-content;
      }
      @include tablet{
        min-height: 90px;
      }
      @include desktop{
        min-height: 120px;
      }
      span {
        color: white;
      }
    }
    &__subtitle {
      @include font(
        $color: $h-subtitle,
        $weight: 400,
        $family: "roboto",
        $transform: none
      );
      margin: 8px 0px 32px;
      filter: drop-shadow(3px 3px 1px #000);
      text-align: center;
      @include min-width(421px){
        margin: 8px 0px 16px;
      }
    }
    .buttons {
      @include display-flex;
      @include tablet {
        flex-direction: row;
      }
      .button {
        margin: 16px 8px;
        min-width: 200px;
        @include tablet{
          min-width: max-content;
        }
      }
    }
  }
  .scroll__box {
    @include display-flex;
    z-index: 2;
    position: absolute;
    top: 80vh;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes opacityImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
