@import "../0-abstracts/vars";
@import "../0-abstracts/mixins";
@import "../1-components/link";
@import "../2-base/padding";

.home {
  @include display-flex($width: 100%, $height: 100vh);
  background-image: url("../../Assets/Images/header-bg.jpg");
  background-position: center 30%;
  .to-filter {
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  nav {
    @include display-flex($width: 60%, $direction: row, $justify: space-around);
    position: absolute;
    top: 30px;
    .menu-icon {
      color: $white;
    }
    .menu-list {
      @include display-flex($direction: row, $justify: space-around);
    }
  }
  .header-content {
    @include display-flex;
    position: relative;
    bottom: 20px;
    &__title {
      margin: 8px 0px;
      font-family: "poppins", sans-serif;
      font-weight: bold;
      color: $h-title;
      filter: drop-shadow(1px 1px 1px #000);
      display: inline-block;
      text-align: center;
      span {
        color: white;
      }
    }
    &__subtitle {
      margin: 8px 0px 32px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      filter: drop-shadow(1px 1px 1px #000);
      color: $h-subtitle;
      text-align: center;
    }
    .buttons {
      @include display-flex;
      @include big-phone {
        flex-direction: row;
      }
      .button {
        margin: 16px 8px;
        min-width: max-content;
      }
    }
  }
  .fab-box{
    z-index: 2;
  }
  .arrow-button-box {
    display: none;
    z-index: 2;
    position: absolute;
    top: 85vh;
    @include netbook {
      display: block;
      @include display-flex($justify: flex-end);
    }
  }
}
