@import "../0-abstracts/vars";
@import "../0-abstracts/mixins";
@import "../1-components/link";
@import "../2-base/padding";

.home {
  @include display-flex($width: 100%, $height: 100vh);
  background-image: url('../../Assets/Images/header-bg.jpg');
  background-position: center 30%;
  .to-filter{
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  nav {
    @include display-flex(
      $width: 60%,
      $direction: row,
      $justify:space-around
    );
    .menu-icon {
      color: $white;
    }
    .menu-list {
      @include display-flex(
        $direction: row,
        $justify:space-around
      );
      position: relative;
      bottom: 25vh;
    }
  }
  .header-content {
    @include display-flex;
    &__title {
      margin: 8px 0px;
      font-family: "poppins", sans-serif;
      font-weight: bold;
      color: $h-title;
      position: relative;
      bottom: 10vh;
      filter: drop-shadow(1px 1px 1px #000);
      span {
        color: white;
      }
    }
    &__subtitle {
      margin: 8px 0px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      filter: drop-shadow(1px 1px 1px #000);
      color: $h-subtitle;
      position: relative;
      bottom: 9vh;
    }
    .buttons {
      @include display-flex;
      position: relative;
      bottom: 5vh;
      @include big-phone {
        flex-direction: row;
      }
      .button {
        margin: 8px;
        min-width: max-content;
      }
    }
  }
  .arrow-button-box {
    display: none;
    @include netbook{
      display: block;
      @include display-flex($justify: flex-end);
      position: relative;
      top: 20vh;
    }
  }
}
