@import '../0-abstracts/vars';
@import '../0-abstracts/mixins';
@import "../2-base/padding";

.portfolio{
    @include display-flex;
    padding: 30px;
    background-color: $p-background;
    .title{
        h1{
            color: $p-title;
        }
        h6{
            color: $p-subtitle;
        }
    }
    &__cards{
        @include display-flex;
        @include tablet{
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-start;
        }
    }
}