@import "../0-abstracts/vars";
@import "../0-abstracts/mixins";
@import "../2-base/padding";
@import "../../Assets/Animations/animationBg2";

.portfolio {
  @include display-flex;
  padding: 30px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  min-height: 800px;
  &__Bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    &--filtered-layer {
      background-color: rgba($color: $h-background, $alpha: 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .title {
    z-index: 2;
    h1 {
      color: $p-title;
    }
    h6 {
      color: $p-subtitle;
    }
    hr{
     color: $p-subtitle;
    }
  }
  &__cards {
    z-index: 2;
    @include tablet{
      margin: 25px 0;
    }  
  }
}