@import "../../Styles/0-abstracts/vars";
@import "../../Styles/0-abstracts/mixins";

.resume {
  background-color: $r-background;
  $self: &;
  &__grid-container {
    #{$self}__grid-item {
      padding-bottom: 16px;
      margin-bottom: 25px;
      &:nth-child(5) {
        margin-bottom: unset;
      }
      @include min-width(600px) {
        margin-bottom: unset;
        &:nth-child(2),
        &:nth-child(3) {
          padding-bottom: 30px;
        }
        &:nth-child(odd) {
          border-left: 1px solid $r-section-title;
          padding-left: 15px;
        }
        &:nth-child(even) {
          border-right: 1px solid $r-section-title;
          padding-right: 15px;
        }
      }
    }
  }
  .title {
    h1 {
      @include font($color: $r-title);
    }
    h6 {
      @include font($color: $r-subtitle, $weight: 300);
    }
    hr {
      border-color: $r-subtitle;
    }
  }
  &__section {
    &-title {
      @include font(
        $color: $r-title,
        $weight: 400,
        $family: "poppins",
        $transform: capitalize
      );
      margin-bottom: 8px;
      text-decoration: underline;
    }
    .text {
      @include tablet {
        padding-left: 8px;
      }
      p,a {
        @include font(
          $color: $r-section-title,
          $weight: 300,
          $transform: none,
          $family: "roboto"
        );
        line-height: 1.5em;
      }
      a{
        text-decoration: underline;
        color: $r-subtitle;
        display: block;
      }
      span {
        @include font(
          $color: rgba($r-title, 0.9),
          $weight: 500,
          $transform: uppercase,
          $family: "poppins"
        );
        display: inline-block;
        margin-bottom: 4px;
        margin-top: 12px;
        &:first-of-type {
          margin-top: 4px;
        }
        &::first-letter {
          text-transform: capitalize;
        }
      }
    }
  }
  &__button-box {
    @include display-flex;
    margin-top: 50px;
  }
}
