@import "../0-abstracts/vars";
@import "../0-abstracts/mixins";

.carousel {
  .MuiPaper-root{
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    border: none;
    box-shadow: unset;
    outline: none;
    background-color: $f-background;
  }
  .Carousel-indicator-3 circle {
    fill: rgba($color: $f-bullets, $alpha: 0.8);
  }
  .Carousel-active-4 circle {
    fill: $f-bullets-active;
  }
  .Carousel-buttonWrapper-5 {
    display: none;
  }
  .slide {
    position: relative;
    @include display-flex($height:100%);
    $self: &;
    @include netbook {
      flex-direction: row;
      justify-content: space-between;
    }
    &__img-box {
      overflow: hidden;
      @include netbook {
        width: 300px;
        height: 300px;
      }
      @include desktop {
        width: 400px;
        height: 400px;
      }
      .slide-img {
        width: 100%;
        object-fit: contain;
        object-position: center center;
      }
    }
    &__text {
      @include display-flex($height: 100%);
      font-family: "poppins", sans-serif;
      margin-top: 25px;
      text-align: center;
      @include netbook {
        margin-left: 25px;
        text-align: left;
      }
      h4 {
        @include font($color: $f-slide-title,  $family: "poppins");
        width: 100%;
        display: inline-block;
      }
      p {
        // color: $white;
      }
    }
  }
}
