@import "../0-abstracts/vars";
@import "../0-abstracts/mixins";

.floating-button-add {
  @include display-flex($width: 50px, $height: 50px);
  border-radius: 50%;
  background-color: $arrow-button;
  box-shadow: 2px 2px 5px #000;
  transition-property: opacity;
  transition-timing-function: ease-in;
  transition-duration: 1s;
  opacity: 0;
  a {
    @include display-flex($height: 100%);
  }
  svg {
    transition-property: opacity;
    transition-timing-function: ease-in;
    transition-duration: 1s;
    opacity: 0;
    font-size: 1.5em;
    position: relative;
    bottom: 2px;
    &:hover {
      cursor: pointer;
    }
    path {
      fill: $white;
    }
  }
}

.active {
  opacity: 1;
  svg {
    opacity: 1;
  }
}
