@import '../0-abstracts/vars';
@import '../0-abstracts/mixins';

.link {
  position: relative;
  top: 20px;
  @include font($color: $nav-links, $weight:500, $transform: capitalize, $family: "poppins");
  font-size: 1.1em;
  text-decoration: none;
  filter: drop-shadow(1px 1px 1px #000);
  display: none;
  &:hover{
    color: $nav-links-active;
  }  
  @include netbook {
    display: block;
  }
}
