@import '../0-abstracts/vars';
@import '../0-abstracts/mixins';

.nav__link {
  position: relative;
  top: 20px;
  @include font($color: $nav-links, $weight:500, $transform: capitalize, $family: "poppins");
  font-size: 1em;
  text-decoration: none;
  filter: drop-shadow(1px 1px 1px #000);
  &:hover{
    color: $nav-links-active;
  }  
}
